

/* Color Theme Swatches in HSLA */


:root{  
    --color-primario:           #AB2B00;  
    --color-secundario:         #F2B705;
    --color-terciario:          #0487D9;
    --color-dark1:              #182129;
    --color-dark2:              #1a3338; 
}
body{
    background: var(--color-dark1);
}
h1{color: var(--color-terciario);}
h1:hover{color: var(--color-secundario)}
.container{
    margin: 12px 6px;
    background-color: var(--color-secundario);
    max-width: 1000px;
}
#constructor{
    display: flex;
    height: 120px;
    background-color:var(--color-primario);
}
.block{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.display-time{
    width: 44%;
    text-align: center;
    color:var(--color-dark2);
    font-size: 28px;
    font-family: 'Teko', sans-serif;
}
.display-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 56%;
    max-width: 390px;
}
.constructor-button{
    width: 44%; 
    display: flex;
    justify-content: center;
}
.constructor-inputs{
    display: flex;
    justify-content: space-evenly;
    width: 56%;
    max-width: 390px;
}
button{
    width: 80px;
    color: var(--color-secundario);
    background-color: var(--color-terciario);
    border: 2px solid var(--color-dark1);
    border-radius:  22px;
    height: 29px;
    font-size: 16px;
}
button:hover{
    color: white;
    background-color: var(--color-terciario);
    border: 1px solid white;
    cursor:pointer;
    box-shadow: 1px 2px 0px 0px var(--color-dark2);
    }
.ui-btn{
    padding: 4px;
    height: 56px;
    width: 46%;
    min-width: 100px;
}
input{
    max-width: 50px;
    background-color: var(--color-secundario);
}