

/* Color Theme Swatches in HSLA */


:root{  
    --color-primario:           #AB2B00;  
    --color-secundario:         #F2B705;
    --color-terciario:          #0487D9;
    --color-dark1:              #182129;
    --color-dark2:              #1a3338; 
}
body{
    background: var(--color-dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 70%;
}
h1{color: var(--color-terciario);}
h1:hover{color: var(--color-secundario)}
.container{
    display: flex;
    flex-direction: column;

    margin: 6px;
    padding: 16px 20px;
    background-color: var(--color-secundario);
}
#constructor{
    background-color:var(--color-primario);
}
.block{
    background-color: antiquewhite;
    border: 5px solid royalblue;
    margin: 2px;
    padding: 7px;
    display: flex;
    /*width: 100%;*/
    align-items: center;
}
.display-time{
    color:var(--color-dark2);
    width: 60%;
    text-align: center;
    font-size: 1.5vw;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    /*font-size: 28px;
    font-family: 'Teko', sans-serif;*/
}
.display-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.constructor-button{
    width: 44%; 
    display: flex;
    justify-content: center;
}
.constructor-inputs{
    display: flex;
    justify-content: space-evenly;
    width: 56%;
    max-width: 390px;
}
button{
    width: 80px;
    color: var(--color-secundario);
    background-color: var(--color-terciario);
    border: 2px solid var(--color-dark1);
    border-radius:  22px;
    height: 29px;
    font-size: 16px;
}
button:hover{
    color: white;
    background-color: var(--color-terciario);
    border: 1px solid white;
    cursor:pointer;
    box-shadow: 1px 2px 0px 0px var(--color-dark2);
    }
.ui-btn{
    padding: 4px;
    height: 56px;
    width: 46%;
    min-width: 100px;
}
input{
    max-width: 50px;
    background-color: var(--color-secundario);
}